header  h1 {
  background: #808080;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  cursor: default;
}


body {
  background: #696969;
}

.omikuji {
  margin-bottom: 100px;
}

.plactice {
  margin-bottom: 100px;
}

.typing {
  margin-bottom: 100px;
}


.profile {
  background: #808080;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  cursor: default; 
}